@import '../../home.component.scss';

.pennapps_content {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: $pennapps-global__gutter / 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}